<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tesseramento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row >
      <ion-col size-sm="6" offset-sm="3" size-lg="4" offset-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-img src="/assets/images/uil.jpg"></ion-img>
            <ion-card-subtitle margin-top>Iscrizione 2020</ion-card-subtitle>
            <ion-card-title>Maurizio D'Aurelio</ion-card-title>
          </ion-card-header>


          <ion-card-content>
            La seguente tessera presentata presso gli uffici della UIL SGK consente di usufruire di tutti i servizi
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>


  </ion-grid>


</ion-content>
