<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/my-data/tabs/anag">
            <ion-icon slot="start" name="contact"></ion-icon>
            <ion-label>I miei dati</ion-label>
          </ion-item>

        </ion-menu-toggle>
        <ion-menu-toggle>


          <ion-item routerLink="/my-communications">
            <ion-icon slot="start" name="chatboxes"></ion-icon>
            <ion-label>Notifiche dalla UIL</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>


          <ion-item (click)="onLogout()" button="true">
            <ion-icon slot="start" name="business"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>


      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="main" ></ion-router-outlet>
</ion-app>
