<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Francesco Randazzo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Dati anagrafici</ion-label>
      </ion-item-divider>
      <ion-item> <ion-label>Cod. fisc. </ion-label>
        <ion-note slot="end">RNDFNC77L14F052F</ion-note>
      </ion-item>
      <ion-item> <ion-label>Data nasc.</ion-label>
        <ion-note slot="end">14/07/1977</ion-note>
      </ion-item>
      <ion-item> <ion-label>Nazione nasc.</ion-label>
        <ion-note slot="end">ITALIa</ion-note>
      </ion-item>
      <ion-item> <ion-label>Prov. nasc.</ion-label>
        <ion-note slot="end">MATERA</ion-note>
      </ion-item>
      <ion-item> <ion-label>Com. nasc.</ion-label>
        <ion-note slot="end">MATERA</ion-note>
      </ion-item>
    </ion-item-group>


    <ion-item-group>
      <ion-item-divider>
        <ion-label>Residenza</ion-label>
      </ion-item-divider>
      <ion-item> <ion-label>Provincia</ion-label>
        <ion-note slot="end">MATERA</ion-note>
      </ion-item>
      <ion-item> <ion-label>Comune</ion-label>
        <ion-note slot="end">MATERA</ion-note>
      </ion-item>
      <ion-item> <ion-label>Indirizzo</ion-label>
        <ion-note slot="end">C.da Serra d'alto snc</ion-note>
      </ion-item>
      <ion-item> <ion-label>Cap</ion-label>
        <ion-note slot="end">75100</ion-note>
      </ion-item>

    </ion-item-group>


    <ion-item-group>
      <ion-item-divider>
        <ion-label>Contatti</ion-label>
      </ion-item-divider>
      <ion-item > <ion-label>Cellulare</ion-label>
        <ion-note slot="end">3385269726</ion-note>
      </ion-item>
      <ion-item> <ion-label>Telefono</ion-label>
        <ion-note slot="end">--</ion-note>
      </ion-item>
    </ion-item-group>






  </ion-list>




</ion-content> 
